<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <!-- Links -->
    <div class="navbar-nav">
      <div class="nav-item">
          <a routerLink="bookings" class="nav-link" routerLinkActive="active">List of Books</a>
      
     
     
          <a routerLink="add" class="nav-link" routerLinkActive="active" style="margin-left: 20px">Add a Book</a>
     

    
        <!-- <a routerLink="about" class="nav-link" routerLinkActive="active" style="margin-left: 20px">About</a> -->
        </div>
      </div>
  </nav>